.btb-react-table {
  .table_info {
    width: 100%;
    border-collapse: collapse;

    .tr_th {
      background: #d3d3d3;
      width: 50%;
    }    
    
    & + .table_info {
      margin-top: 0.5rem;
    }
  }
}